.App {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.button{
  display: flex;
  justify-content: center;

}
.classComponent{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  text-align: center;
  border: 1px solid gray;

}
.functionComponent{
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid gray;

}
.main-div{
margin: 100px auto;
}

